asgiref==3.7.2
certifi==2024.2.2
charset-normalizer==2.0.12
Django==4.2
django_debug_toolbar==3.8.1
djangorestframework==3.14.0
djangorestframework-simplejwt==4.7.2
idna==3.6
isort==5.13.2
PyJWT==2.1.0
pytz==2024.1
requests==2.26.0
sqlparse==0.4.4
tzdata==2024.1
urllib3==1.26.18
